@font-face
	font-family: 'museo'
	src: url('../../assets/fonts/museo.woff2') format('woff2'), url('../../assets/fonts/museo.woff') format('woff')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'museo-sans'
	src: url('../../assets/fonts/museo-sans.eot')
	src: url('../../assets/fonts/museo-sans.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/museo-sans.woff2') format('woff2'), url('../../assets/fonts/museo-sans.woff') format('woff'), url('../../assets/fonts/museo-sans.ttf') format('truetype'), url('../../assets/fonts/museo-sans.svg#wf') format('svg')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'museo-sans-cyrillic-500'
	src: url('../../assets/fonts/museo-sans-cyrillic-500.woff2') format('woff2'), url('../../assets/fonts/museo-sans-cyrillic-500.woff') format('woff')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'museo-cyrillic-500'
	src: url('../../assets/fonts/museo-cyrillic-500.woff2') format('woff2'), url('../../assets/fonts/museo-cyrillic-500.woff') format('woff')
	font-weight: normal
	font-style: normal
